.fpContainer {
  background-color: whitesmoke;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.fpMainDiv {
  width: 25%;
  height: 60%;
  background-color: white;
  padding: 2rem;
  padding-bottom: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.fpHeading {
  text-align: center;
}

.fpFooter {
  display: flex;
  text-align: right;

  flex-direction: column;
}
.fpFormDiv {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media (max-width: 700px) {
  .fpMainDiv {
    width: 80%;
  }
}
